#ActionSearch {
  display: none;
}
#HorrorSearch {
  display: none;
}
#ChildrensSearch {
  display: none;
}
#ComedySearch {
  display: none;
}
#PGSearch {
  display: none;
}
#TwelveSearch {
  display: none;
}
#FifteenSearch {
  display: none;
}
#EighteenSearch {
  display: none;
}
